node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Editor directories and files
.vscode/
.idea/
.history/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Convex
src/convex/_generated/

# Personal Docs
/docs/process.md

# Sample Data
sampleData.jsonl

# Setup
setup.log
app.css.bak
